 #flexiselDemo2 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
margin: 0 auto;
overflow: hidden;
padding-bottom: 4px;
width: 88%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {  
	cursor: pointer;
	max-height: 180px;
	max-width: 170px;
	position: relative;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 30px;  
    height: 31px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/blue-arrow.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 10px;
    background: url(../images/blue-arrow2.png) no-repeat;
}