<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MD_QuickView>
            <version>1.2.3</version>
        </MD_QuickView>
    </modules>

    <global>
        <blocks>
            <quickview>
                <class>MD_QuickView_Block</class>
            </quickview>
        </blocks>
        <helpers>
            <quickview>
                <class>MD_QuickView_Helper</class>
            </quickview>
        </helpers>

        <models>
            <quickview>
                <class>MD_QuickView_Model</class>
            </quickview>
        </models>
    </global>
    <adminhtml> 	
		<layout>
			<updates>
				<quickview>
					<file>md_quickview.xml</file>
				</quickview>
			</updates>
		</layout>
    </adminhtml> 
    <frontend>
        <routers>
            <quickview>
                <use>standard</use>
                <args>
                    <module>MD_QuickView</module>
                    <frontName>quickview</frontName>
                </args>
            </quickview>
        </routers>
        <layout>
            <updates>
                <quickview>
                    <file>md_quickview.xml</file>
                </quickview>
            </updates>
        </layout>
    </frontend>
    <default>
        <quickview>
			<viewsetting>
				<enableview>1</enableview>
				<enable_jquery>1</enable_jquery>
                <dialog_width>890</dialog_width>
                <dialog_height>auto</dialog_height>
                <zoom_width>265</zoom_width>
                <zoom_height>265</zoom_height>
                <zoom_position>right</zoom_position>
                <text_color>000000</text_color>
                <text_color1>000000</text_color1>
                <loading_icon>loadingAnimation.gif</loading_icon>
            </viewsetting>
			<slidersetting>
                <product_image_width>310</product_image_width>
                <product_image_height>310</product_image_height>                
				<pagination_image_height>56</pagination_image_height>
                <pagination_image_width>56</pagination_image_width>			
                <left_next_button>103.5</left_next_button>			
                <left_prev_button>386</left_prev_button>			
                <top_image>165</top_image>			
			</slidersetting>
        </quickview>
    </default>
</config>