<!--@subject Thank you for your subscription @--> 
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
			<td align="center" valign="top" style="padding:20px 0 20px 0">
				<!-- [ header starts here] -->
				<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
					<tr>
							<td valign="top">
									<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></td>
					</tr>
				<!-- [ middle starts here] -->
					<tr>
						<td valign="top">
							<p>We are so glad you subscribed to our newsletter!. To say thanks, we would like to send you a coupon code for your next purchase at our store.</p>
							<p>Please use this coupon code below when in our shopping cart page</p>
							<p>Coupon code: <strong>{{var coupon_code }}</strong></p>
							<p>Discount amount: <strong>{{var discount_mount }}</strong></p>
							<p>Coupon create at: <strong>{{var from_date }}</strong></p>
							<p>Coupon expires at: <strong>{{var to_date }}</strong></p>
						</td>
					</tr>
						<tr>
								<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
						</tr>
				</table>
			</td>
		</tr>
  </table>
</div>
