/********Css For subscribepopup************/
#form-subscribe { display: none; width: 300px; min-height:150px;}
#form-subscribe .form-content label{ width: 244px; font-size:12px; font-weight:bold; color:#000000; margin:0 auto;display: block; text-transform:uppercase;}
#form-subscribe .form-content .input-box{ text-align:left;}
#form-subscribe .form-content .input-box input.input-text{ display: block; width:274px; height:25px; margin :5px auto; padding-left: 10px; }
#form-subscribe .form-content .input-box .validation-advice{width:200px;}
#form-subscribe .form-content .actions{float:none; text-align: center;}
#form-subscribe .form-content #notification{float:left; width:100%; margin:10px 0 0; text-align:left;}
#form-subscribe .form-content #notification address{font-size:11px; font-style:italic; color:#8f8f8f;}