<?xml version="1.0"?>
<config>
    <modules>
        <Fishpig_Wordpress_Addon_CustomerSynchronisation>
            <version>1.0.0.1</version>
        </Fishpig_Wordpress_Addon_CustomerSynchronisation>
    </modules>
    <global>
		<events>
            <controller_action_predispatch_customer_account_loginPost>
            	<observers>
            		<wordpress_customersynchronisation>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer</class>
            			<method>customerLogin</method>
            		</wordpress_customersynchronisation>
            	</observers>
            </controller_action_predispatch_customer_account_loginPost>
            <customer_load_after>
            	<observers>
            		<wordpress_customersynchronisation>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer</class>
            			<method>initCustomerUpdate</method>
            		</wordpress_customersynchronisation>
            	</observers>
            </customer_load_after>
            <customer_save_after>
            	<observers>
            		<wordpress_customersynchronisation>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer</class>
            			<method>customerUpdate</method>
            		</wordpress_customersynchronisation>
            	</observers>
            </customer_save_after>
			<checkout_type_onepage_save_order_after>
				<observers>
					<wordpress_customersynchronisation>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer</class>
						<method>saveCustomerFromOnepage</method>
					</wordpress_customersynchronisation>
				</observers>
			</checkout_type_onepage_save_order_after>
        </events>
		<models>
			<wordpress_customersynchronisation>
				<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer_Model</class>
			</wordpress_customersynchronisation>
		</models>
		<helpers>
			<wordpress_customersynchronisation>
				<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer_Helper</class>
			</wordpress_customersynchronisation>
		</helpers>
		<blocks>
			<wordpress_customersynchronisation>
				<class>Fishpig_Wordpress_Addon_CustomerSynchronisation_Model_Observer_Block</class>
			</wordpress_customersynchronisation>
		</blocks>
	</global>
	<frontend>
		<layout>
			<updates>
				<wordpress_customersynchronisation>
					<file>wordpress/customer-synchronisation.xml</file>
				</wordpress_customersynchronisation>
			</updates>
		</layout>
		<routers>
			<wordpress_customersynchronisation>
				<use>standard</use>
				<args>
					<module>Fishpig_Wordpress_Addon_CustomerSynchronisation</module>
					<frontName>wpsynch</frontName>
				</args>
			</wordpress_customersynchronisation>
		</routers>
	</frontend>
	<default>
		<wordpress_extend>
			<customer_synchronisation>
				<enabled>1</enabled>
			</customer_synchronisation>
		</wordpress_extend>
	</default>
</config>