<?xml version="1.0"?>
<config>
	<modules>
		<Lacrosse_CustomOrderExport>
			<version>1.0.4</version>
		</Lacrosse_CustomOrderExport>
	</modules>
	
	<admin>
        <routers>
            <Lacrosse_CustomOrderExport>
                <use>admin</use>
                <args>
                    <module>Lacrosse_CustomOrderExport</module>
                    <frontName>customorderexport</frontName>
                </args>
            </Lacrosse_CustomOrderExport>
        </routers>
    </admin>
    
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <Lacrosse_CustomOrderExport_Model_Observer_addMassaction>
                        <type>model</type>
                        <class>Lacrosse_CustomOrderExport_Model_Observer</class>
                        <method>addMassaction</method>
                    </Lacrosse_CustomOrderExport_Model_Observer_addMassaction>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>

        <translate>
            <modules>
                <Lacrosse_CustomOrderExport>
                    <files>
                        <default>Lacrosse_CustomOrderExport.csv</default>
                    </files>
                </Lacrosse_CustomOrderExport>
            </modules>
        </translate>
    </adminhtml>
    
    <global>
        <models>
            <lacrosse_customorderexport>
                <class>Lacrosse_CustomOrderExport_Model</class>
            </lacrosse_customorderexport>
        </models>
    </global>
</config>
