<?xml version="1.0" encoding="utf-8"?>
<!--
    /**
    * EcommerceTeam.com
    *
    * Seo Layered Navigation
    *
    * @category     Magento Extension
    * @copyright    Copyright (c) 2011 Ecommerce Team (http://www.ecommerce-team.com)
    * @author       Ecommerce Team
    * @version      3.0
    */
 -->
<config>
    <modules>
        <EcommerceTeam_Sln>
            <version>3.0.1</version>
        </EcommerceTeam_Sln>
    </modules>
    <global>
        <models>
            <ecommerceteam_sln>
                <class>EcommerceTeam_Sln_Model</class>
                <resourceModel>ecommerceteam_sln_mysql4</resourceModel>
            </ecommerceteam_sln>
            <ecommerceteam_sln_mysql4>
                <class>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <attribute_data><table>ecommerceteam_sln_attribute_data</table></attribute_data>
                    <attribute><table>ecommerceteam_sln_attribute_options</table></attribute>
                </entities>
            </ecommerceteam_sln_mysql4>
            <catalog>
                <rewrite>
                    <layer>EcommerceTeam_Sln_Model_Layer</layer>
                    <layer_filter_category>EcommerceTeam_Sln_Model_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>EcommerceTeam_Sln_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>EcommerceTeam_Sln_Model_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_decimal>EcommerceTeam_Sln_Model_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_item>EcommerceTeam_Sln_Model_Layer_Filter_Item</layer_filter_item>
                    <category>EcommerceTeam_Sln_Model_Category</category>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <layer_filter_category>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_decimal>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Layer_Filter_Decimal</layer_filter_decimal>
                    <product_collection>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
                    <attribute>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Catalog_Entity_Attribute</attribute>
                    <category>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Category</category>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <catalogsearch>
                   <rewrite>
                       <layer>EcommerceTeam_Sln_Model_Layer_Search</layer>
                   </rewrite>
               </catalogsearch>
               <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>EcommerceTeam_Sln_Model_Resource_Eav_Mysql4_Search_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
			<compiler>
                <rewrite>
                    <process>EcommerceTeam_Sln_Model_Compiler_Process</process>
                </rewrite>
            </compiler>
            <core>
                <rewrite>
                    <url>EcommerceTeam_Sln_Model_Url</url>
                    <url_rewrite>EcommerceTeam_Sln_Model_Url_Rewrite</url_rewrite>
                </rewrite>
            </core>
        </models>
        <resources>
            <ecommerceteam_sln_setup>
                <setup>
                    <module>EcommerceTeam_Sln</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecommerceteam_sln_setup>
        </resources>
        <blocks>
            <ecommerceteam_sln><class>EcommerceTeam_Sln_Block</class></ecommerceteam_sln>
            <page>
                   <rewrite>
                       <html_pager>EcommerceTeam_Sln_Block_Page_Pager</html_pager>
                   </rewrite>
               </page>
            <catalog>
                <rewrite>
                    <layer_view>EcommerceTeam_Sln_Block_Layer_View</layer_view>
                    <layer_state>EcommerceTeam_Sln_Block_Layer_State</layer_state>
                    <product_list_toolbar>EcommerceTeam_Sln_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
               </catalog>
               <catalogsearch>
                   <rewrite>
                       <layer>EcommerceTeam_Sln_Block_Layer_View_Search</layer>
                   </rewrite>
               </catalogsearch>
               <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_main>EcommerceTeam_Sln_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Main</catalog_product_attribute_edit_tab_main>
                    <catalog_product_attribute_edit_tab_options>EcommerceTeam_Sln_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ecommerceteam_sln>
                <class>EcommerceTeam_Sln_Helper</class>
            </ecommerceteam_sln>
            <catalog>
                <rewrite>
                    <product_compare>EcommerceTeam_Sln_Helper_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <ecommerceteam_sln_save_attribute>
                        <type>singleton</type>
                        <class>ecommerceteam_sln/observer</class>
                        <method>saveAttributeData</method>
                    </ecommerceteam_sln_save_attribute>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_load_after>
                <observers>
                    <ecommerceteam_sln_load_attribute>
                        <type>singleton</type>
                        <class>ecommerceteam_sln/observer</class>
                        <method>loadAttributeData</method>
                    </ecommerceteam_sln_load_attribute>
                </observers>
            </catalog_entity_attribute_load_after>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <setfilterspagetitle>
                        <type>singleton</type>
                        <class>ecommerceteam_sln/observer</class>
                        <method>setPageTitle</method>
                    </setfilterspagetitle>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <init_ajax_request>
                        <type>singleton</type>
                        <class>ecommerceteam_sln/observer</class>
                        <method>initAjax</method>
                    </init_ajax_request>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <init_ajax_request>
                        <type>singleton</type>
                        <class>ecommerceteam_sln/observer</class>
                        <method>initAjax</method>
                    </init_ajax_request>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
        </events>
        <layout>
            <updates>
                <ecommerceteam_sln module="ecommerceteam_sln">
                    <file>ecommerceteam-sln.xml</file>
                </ecommerceteam_sln>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ecommerceteam_sln module="ecommerceteam_sln">
                    <file>ecommerceteam-sln.xml</file>
                </ecommerceteam_sln>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <catalog>
            <layered_navigation>
                <enable_category>1</enable_category>
                <enable_ajax>0</enable_ajax>
                <default_block_enabled>1</default_block_enabled>
                <top_block_enabled>1</top_block_enabled>
                <right_block_enabled>1</right_block_enabled>
                <cat_filter_position>default</cat_filter_position>
                <cat_filter_type>default</cat_filter_type>
                <url_separator>f</url_separator>
            </layered_navigation>
        </catalog>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <EcommerceTeam_Sln before="Mage_Adminhtml">EcommerceTeam_Sln_Adminhtml</EcommerceTeam_Sln>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
<ecommerceteam><EcommerceTeam_Sln><order_id>100003717</order_id><purchase_id>3474</purchase_id></EcommerceTeam_Sln></ecommerceteam></config>
