<?xml version="1.0"?>
<config>
	<modules>
			<Magebuzz_Subscribepopup>
					<version>0.1.2</version>
			</Magebuzz_Subscribepopup>
	</modules>
  <frontend>
		<secure_url>
				<subscribepopup>/subscribepopup/</subscribepopup>
		</secure_url>	
		<routers>
			<subscribepopup>
					<use>standard</use>
					<args>
							<module>Magebuzz_Subscribepopup</module>
							<frontName>subscribepopup</frontName>
					</args>
			</subscribepopup>
			<newsletter>
				<args>
						<modules>
								<Magebuzz_Subscribepopup before="Mage_Newsletter_SubscriberController">Magebuzz_Subscribepopup</Magebuzz_Subscribepopup>
						</modules>
				</args>
			</newsletter>
		</routers>
		<layout>
				<updates>
						<subscribepopup>
								<file>subscribepopup.xml</file>
						</subscribepopup>
				</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Subscribepopup>
					<files>
						<default>Magebuzz_Subscribepopup.csv</default>
					</files>
				</Magebuzz_Subscribepopup>
			</modules>
		</translate>	
	</frontend>
	<admin>
		<routers>
			<subscribepopup>
				<use>admin</use>
				<args>
					<module>Magebuzz_Subscribepopup</module>
					<frontName>subscribepopup</frontName>
				</args>
			</subscribepopup>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<subscribepopup>
					<file>subscribepopup.xml</file>
				</subscribepopup>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Subscribepopup>
					<files>
						<default>Magebuzz_Subscribepopup.csv</default>
					</files>
				</Magebuzz_Subscribepopup>
			</modules>
		</translate>	
	</adminhtml>   
	<global>
		<models>
			<subscribepopup>
					<class>Magebuzz_Subscribepopup_Model</class>
					<resourceModel>subscribepopup_mysql4</resourceModel>
			</subscribepopup>
			<subscribepopup_mysql4>
					<class>Magebuzz_Subscribepopup_Model_Mysql4</class>
					<entities>
							<subscribepopup>
									<table>subscribepopup</table>
							</subscribepopup>
					</entities>
			</subscribepopup_mysql4>
			<newsletter>
					<rewrite>
							<subscriber>Magebuzz_Subscribepopup_Model_Subscriber</subscriber>
				 </rewrite>
			</newsletter>
		</models>
		<resources>
			<subscribepopup_setup>
				<setup>
						<module>Magebuzz_Subscribepopup</module>
				</setup>
				<connection>
						<use>core_setup</use>
				</connection>
			</subscribepopup_setup>
			<subscribepopup_write>
				<connection>
						<use>core_write</use>
				</connection>
			</subscribepopup_write>
			<subscribepopup_read>
				<connection>
						<use>core_read</use>
				</connection>
			</subscribepopup_read>
		</resources>
		<blocks>
			<subscribepopup>
				<class>Magebuzz_Subscribepopup_Block</class>
			</subscribepopup>	
			<adminhtml>
                <subscribepopup>
                    <class>Magebuzz_Subscribepopup_Adminhtml_Block_Subscriber_Grid</class>
                </subscribepopup>
                <rewrite>
                    <newsletter_subscriber_grid>Magebuzz_Subscribepopup_Adminhtml_Block_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
		</blocks>
		<helpers>
			<subscribepopup>
				<class>Magebuzz_Subscribepopup_Helper</class>
			</subscribepopup>
		</helpers>
		<template>
			<email>
				<subscribepopup_coupon_code_setting_email_template translate="label" module="subscribepopup">
					<label>Newsletter subscription success with coupon code</label>
					<file>newsletter_subscr_success_with_coupon.html</file>
					<type>html</type>
				</subscribepopup_coupon_code_setting_email_template>
			</email>
		</template>				
	</global>
	<!--Set Default Value For Setting Options-->
	<default>
		<subscribepopup>
			<general>
				<active>1</active>
				<include_js>1</include_js>
				<form_title>Sign Up to stay in the loop</form_title>			
				<timeout>1</timeout>			
				<time_delay>0</time_delay>			
				<notification>You'll also receive our best deals and decorating ideas. We value our customers and will not sell or rent your email address.</notification>			
				<display_all_page>0</display_all_page>
				<use_static_block>0</use_static_block>
			</general>
			<coupon_code_setting>
				<allow_create>0</allow_create>
				<email_sender>general</email_sender>
				<email_template>subscribepopup_coupon_code_setting_email_template</email_template>
				<discount_type>percent-of-product-price</discount_type>
				<discount_amount>20</discount_amount>
				<coupon_length>10</coupon_length>
				<coupon_expires>15</coupon_expires>
				<number_coupon_use>1</number_coupon_use>
			</coupon_code_setting>
		</subscribepopup>
	</default>
</config>