<?xml version="1.0"?>
<!-- 
/**
 * @category   FME
 * @package    FME_Gmapstrlocator
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->

<config>
    <modules>
	<FME_Gmapstrlocator>
	    <version>0.1.0</version>
	</FME_Gmapstrlocator>
    </modules>
   
    <frontend>
        <routers>
	    <gmapstrlocator>
		<use>standard</use>
		<args>
		    <module>FME_Gmapstrlocator</module>
		    <frontName>gmapstrlocator</frontName>
		</args>
	    </gmapstrlocator>
	</routers>
	<layout>
	    <updates>
		<gmapstrlocator>
		    <file>gmapstrlocator.xml</file>
		</gmapstrlocator>
	    </updates>
	</layout>
	<translate>
            <modules>
                <FME_Gmapstrlocator>
                    <files>
                        <default>FME_Gmapstrlocator.csv</default>
                    </files>
                </FME_Gmapstrlocator>
            </modules>
        </translate>
    </frontend>
    <admin>
	<routers>
	    	<gmapstrlocatoradmin>
		    <use>admin</use>
		    	<args>
			        <module>FME_Gmapstrlocator</module>
		        	<frontName>gmapstrlocatoradmin</frontName>
			</args>
		</gmapstrlocatoradmin>
		<adminhtml>
				<args>
					<modules>
						<FME_Gmapstrlocator_Override before="Mage_Adminhtml">FME_Gmapstrlocator_Override_Admin</FME_Gmapstrlocator_Override>
					</modules>
				</args>
	    	</adminhtml>
	</routers>
    </admin>
    <adminhtml>
	<translate>
            <modules>
                <FME_Gmapstrlocator>
                    <files>
                        <default>FME_Gmapstrlocator.csv</default>
                    </files>
                </FME_Gmapstrlocator>
            </modules>
        </translate>
	
		<layout>
		    	<updates>
			    	<gmapstrlocatoradmin>
				    	<file>gmapstrlocator.xml</file>
				</gmapstrlocatoradmin>
			</updates>
		</layout>
    </adminhtml>
    
    <global>
	<models>
	    <gmapstrlocator>
		<class>FME_Gmapstrlocator_Model</class>
		<resourceModel>gmapstrlocator_mysql4</resourceModel>
	    </gmapstrlocator>
	    <gmapstrlocator_mysql4>
		<class>FME_Gmapstrlocator_Model_Mysql4</class>
		<entities>
		    <gmapstrlocator>
			<table>gmapstrlocator</table>
		    </gmapstrlocator>
		    <gmapstrlocator_store>
			<table>gmapstrlocator_store</table>
		    </gmapstrlocator_store>
		    <gmapstrlocator_products>
			<table>gmapstrlocator_products</table>
		    </gmapstrlocator_products>
		</entities>
	    </gmapstrlocator_mysql4>
	</models>
	<resources>
	    <gmapstrlocator_setup>
		<setup>
		    <module>FME_Gmapstrlocator</module>
		</setup>
		<connection>
		    <use>core_setup</use>
		</connection>
	    </gmapstrlocator_setup>
	    <gmapstrlocator_write>
		<connection>
		    <use>core_write</use>
		</connection>
	    </gmapstrlocator_write>
	    <gmapstrlocator_read>
		<connection>
		    <use>core_read</use>
		</connection>
	    </gmapstrlocator_read>
	</resources>
	<blocks>
	    <gmapstrlocator>
		<class>FME_Gmapstrlocator_Block</class>
	    </gmapstrlocator>
	   
	</blocks>
	<helpers>
	    <gmapstrlocator>
		<class>FME_Gmapstrlocator_Helper</class>
	    </gmapstrlocator>
	</helpers>
	<events>
            <controller_front_init_routers>
                <observers>
                    <gmapstrlocator>
                        <type>singleton</type>
                        <class>FME_Gmapstrlocator_Controller_Router</class>
                        <method>initControllerRouters</method>
		    </gmapstrlocator>
                </observers>
            </controller_front_init_routers>
	</events>
    </global>
</config>
