<?xml version="1.0"?>
<config>
	<tabs>
        <mst translate="label" module="menupro">
            <label>Magebay.com</label>
            <sort_order>300</sort_order>
        </mst>
    </tabs>
	<sections>
		<menupro translate="label" module="menupro">
			<label>Menu Creator Pro - Setting</label>
			<tab>mst</tab>
			<frontend_type>text</frontend_type>
			<sort_order>777</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<info>
                    <frontend_model>menupro/system_config_info</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                </info>
				<license translate="label">
                    <label>License</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
						<key translate='label'>
                    		<label>Key </label>
                    		<frontend_type>text</frontend_type>
                    		<sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
							<backend_model>menupro/saveconfig</backend_model>
                    	</key>
						<licenseinfo translate='label'>
                    		<label>License Info</label>
                    		<frontend_type>label</frontend_type>
                    		<sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
							<frontend_model>menupro/system_config_form_field_notification</frontend_model> 
                    	</licenseinfo>
                    </fields>
                </license>
                <setting translate="label">
                    <label>Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
						<enable translate='label'>
                    		<label>Enable Menu Creator Pro: </label>
                    		<frontend_type>select</frontend_type>
                    		<sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <!-- <show_in_website>1</show_in_website> -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</enable>
                    	<responsive translate='label'>
                    		<label>Disable Responsive: </label>
                    		<frontend_type>select</frontend_type>
                    		<sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <!-- <show_in_website>1</show_in_website> -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</responsive>
                    	<refresh translate="label">
			                <label>Refresh</label>
			                <frontend_type>button</frontend_type>
			                <frontend_model>menupro/system_config_form_button</frontend_model>
			                <comment>After add or delete category,please click refresh button to refresh all menu items.</comment>
			                <sort_order>120</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			            </refresh>
                    </fields>
                </setting>
			</groups>
		</menupro>
	</sections>
</config>